.main_div
{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
}

.main 
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.copy_right_footer{
    position: fixed;
    color: rgb(0, 0, 0);
    bottom: 0;
    width: 100%;
    line-height: 3;
    text-align: center;
}

canvas
{
  border: 5px solid white;
  border-radius: 20px;
  box-shadow:5px 5px 5px grey;
}
